*{
  font-family: Helvetica;
  font-size: 28px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: inline-flex;
  margin:40px 40px;
  flex-direction: row-reverse;
  border: 2px black solid;
  align-items: center;
}


.robotFace {
  display: flex;
  border: 2px black solid;
  padding: 20px;
  flex-direction: column;
  align-items: center;
/*    justify-content: flex-start; */
  height: 600px;
  width: 500px;
  margin: 30px;
}

/* .camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  height:650px;
  width: 1000px;
  margin: 30px;
} */

#robotSpeech {
  padding: 50px;
  color: #808080;
}

svg {
 height: 100%; 
 width: 100%;
 position: relative;
}

div.faceEyes {
  display: flex;
  width: 15em;
}

div.faceOthers {
  display: flex;
  width: 15em;
}

div.wrapper {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding: 20px;
  margin: 30px 30px;
  text-align: center;
}

.recognitionSwitch{
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

div.scale{
  height: 50px;
  width: 300px;
  border: 1px gray dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  height: 60px;
}
